#right-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: var(--top-nav-height);
    right: var(--top-nav-height);
    bottom: 0;
}
#bottom-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
#left-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: var(--top-nav-height);
    bottom: 0;
    left: var(--top-nav-height);
}