
body {
	background: darken($basecolor, 6%);
	font-family: 'Roboto', sans-serif;

	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 14px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select:none;
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer */
	-khtml-user-select: none;
	/* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none;
	/* Chrome, Safari, and Opera */
	-webkit-touch-callout: none;
	/* Disable Android and iOS callouts*/
}



//don't let svg handle click events, just send to parents
svg {
	pointer-events: none;
	path {
		pointer-events: none;
	}
}

//remove blue outline in chrome
*:focus {
	outline: 0 !important;
}

.weak {
	font-size: 0.8em;
	color: $basetextweak;
}

#data-holders, .preload {
	display: none;
}

#right-nav {
    position: fixed;
    top: var(--top-nav-height);
    right: 0;
    bottom: 0;
    width: var(--layers-width);
    z-index: 1100;
    display: flex;
    flex-direction: column;
}
