#import-image {
    .import-image-file {
        button {
            margin: 0;
        }
    }

    .import-image-checkbox {
        height: 50px;
        display: flex;
        align-items: center;
    }
}