
#new-pixel-warning {
	display: none;
	text-align: center;
	margin: 20px 0 0;
	font-style: italic;
}

#new-pixel-inventory {
	display: none;
}

#new-pixel-map {
	display: none;
}

#new-voxel-world {
	display: none;
}

.dimentions-x {
	margin: -2px 7px;
	path {
		fill: $baseicon
	}
}

.max-canvas-size {
	color: #b3adb6;
	margin-top: 0;
	font-size: 12px;
}

#no-palette-button {
	display: none;
}

#editor-mode-info {
	font-style: italic;
}

#editor-mode {
	display: none;
}