<div id="about">
	<button class="close-button">{{svg "x.svg" width="20" height="20"}}</button>
	<h1>About Lospec Pixel Editor</h1>
	<div>version 1.1.0</div>
	<p>This is a web-based tool for creating and editing pixel art.</p>
	<p>The goal of this tool is to be an accessible and intuitive tool that's simple enough for a first time pixel artist while still being usable enough for a veteran. </p>
	<p>In the future I hope to add enough features to become a full fledged pixel art editor, with everything an artist could need.</p>
	<h1>About Lospec</h1>
	<p>Lospec is a website created to host tools for pixel artists. To see more of our tools, visit our <a href="/">homepage</a>. To hear about any updates or new tools, follow us on <a href="http://twitter.com/lospecofficial">Twitter</a>.</p>
</div>