<div id="import-image" class="import-image">
	<button class="close-button">{{svg "x.svg" width="20" height="20"}}</button>
	
	<h1>Import Image</h1>

	<p>Imports image into the current selected layer.</p>

	<div class="import-image-file">
		<button class="default" id="select-image">Select image</button>
		<span id="import-image-name"></span>
	</div>

	<div class="import-image-checkbox">
		<span>Match canvas to image size <input type="checkbox" id="import-image-match-size"/></span>
	</div>

	<div class="popup-actions">
		<button class="default" id="import-image-confirm">Import</button>
	</div>
</div>