<div id="export" class="pixel-export">
	<button class="close-button">{{svg "x.svg" width="20" height="20"}}</button>
	
	<h1>Export File</h1>

	<div class="export-configuration">
		<h2>File Name</h2>
		<input id="export-file-name" autocomplete="off"/>
	</div>

	<div class="popup-actions">
		<button class="default" id = "export-confirm">Export</button>
	</div>
</div>