<div id="save-project" class="save-project">
	<button class="close-button">{{svg "x.svg" width="20" height="20"}}</button>
	
	<h1>Save Project</h1>

	<div class="save-project-configuration">
		<h2>File Name</h2>
		<input id="lpe-file-name" autocomplete="off" />
	</div>

	<div class="popup-actions">
		<button class="default" id="save-project-confirm">Save</button>
	</div>
</div>