<div id="settings">
	<button class="close-button">{{svg "x.svg" width="20" height="20"}}</button>
	<h1>Settings</h1>

	<div id="settings-container">
		<h2>History</h2>
		<div class = "settings-entry">
			<label for="setting-numberOfHistoryStates">Number of History States</label> <input id="setting-numberOfHistoryStates" value="200" autocomplete="off" />
		</div>

		<h2>Pixel grid</h2>
		<div class = "settings-entry">
			<label for="setting-pixelGridColour">Colour of the pixel grid</label><input id="setting-pixelGridColour" value = "#0000FF" autocomplete="off"/>
		</div>

		<h2>Horizontal Axis</h2>
		<div class = "settings-entry">
        	<label for="setting-hSymmetryColor">Colour of the horizontal axis</label><input id="setting-hSymmetryColor" value = "#FF0000" autocomplete="off"/>
       	</div>

       	<h2>Vertical Axis</h2>
            <div class = "settings-entry">
               	<label for="setting-vSymmetryColor">Colour of the vertical axis</label><input id="setting-vSymmetryColor" value = "#0000FF" autocomplete="off"/>
          	</div>
	</div>

	<p id="cookies-disabled-warning">Your browsers cookies are disabled, settings will be lost upon closing this page.</p>

	<div>
		<button id="save-settings" class="default">Save</button>
	</div>
</div>