 <!-- CANVASES -->
<div id="canvas-view">
	<canvas id="vfx-canvas" class = "drawingCanvas"></canvas>
	<canvas id = "tmp-canvas" class = "drawingCanvas"></canvas>
	<canvas id="pixel-canvas" class = "drawingCanvas"></canvas>
	<canvas id="checkerboard" class = "drawingCanvas"></canvas>
	<canvas id="pixel-grid" class = "drawingCanvas"></canvas>
	<canvas id="horizontal-symmetric" class="drawingCanvas"></canvas>
	<canvas id="vertical-symmetric" class ="drawingCanvas"></canvas>
</div>
<div id="canvas-view-shadow"></div>