<ul id="colors-menu">
	<li class="noshrink"><button title="Add Current Color To Palette" id="add-color-button">{{svg "./plus.svg" width="30" height="30"}}</button></li>
</ul>

<div class="jscolor-picker-bottom">
	<span>#</span><input type="text" id="jscolor-hex-input" />
	<div id="duplicate-color-warning" title="Color is a duplicate of another in palette">{{svg "warning.svg" width="14"
		height="12" }}</div>
	<button class="delete-color-button">{{svg "trash.svg" width="20" height="20" }}</button>
</div>

<div class="color-edit-button">
	{{svg "adjust.svg" width="20" height="20" }}
</div>