<div id="compatibility-warning">
	<div>
		<div>
			<p><strong>Warning: a modern, desktop, web browser is required to use this tool.</strong></p>
			<p>We detected that you may have an out of date or unsupported web browser. This tool, like many others on
				this site and across the web uses features only available in new web browsers. We reccommend updating
				your current browser or downloading <a href="https://www.mozilla.org/en-US/firefox/new/"
					target="_blank">Firefox</a> or <a href="https://www.google.com/chrome/browser/desktop/index.html"
					target="_blank">Chrome</a>. </p>
			<button onclick="closeCompatibilityWarning()">Continue</button>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bowser@2.11.0/es5.min.js"></script>