<div id="data-holders">
	<a id="save-image-link-holder" href="#">dl</a>
	<a id="save-project-link-holder" href="#">dl</a>
	<input id="open-image-browse-holder" type="file" accept="image/png, image/gif, .lpe" />
	<input id="load-palette-browse-holder" type="file" accept="image/png, image/gif" />
	<canvas id="load-palette-canvas-holder"></canvas>
</div>