Hi! Been a while after the last update, the lack of contributors slowed down the support a bit. You may have seen 
it from the Lospec homepage, but this editor has been liberated and released under the GPL-3.0 license! This 
probably incentivized more contributors to help with development. I want to thank them for their work.
<ul>
    <li><a href="https://github.com/NSSure">NSSure</a> added the ability to import images in the editor. Very 
        useful if you need to have a reference layer!</li>
    <li><a href="https://github.com/blueprismo">Blueprismo</a> added a Dockerfile to the repository, making the
        editor even more accessible.</li>
    <li><a href="https://github.com/hacknorris-aka-penguin">hacknorris-aka-penguin</a> and 
        <a href="https://github.com/matthewd673">matthewd673</a> fixed a few bugs we had.</li>
</ul>
In addition, we had a pretty big contribution by <a href="https://github.com/jbrundage">Jaman</a>. He did some 
needed refactoring that will help us with development. In addition, he kindly added a new palette layout so that 
big palettes aren't too stretched out, like it happened with the previous vertical layout.
</br>
<img src="palettegrid.gif"/>

</br>
Lastly, I would also like to thank all the people who submitted feature suggestions and bug reports on Github, they 
are very welcome and we will try to address as many as possible of them.