<ul id="main-menu" class="editor-top-menu">
	<li class="logo">Lospec Pixel Editor</li>
	<li>
		<button>File</button>
		<ul>
			<li><button>New</button></li>
			<li><button>Save project</button></li>
			<li><button>Open</button></li>
			<li><button id="export-button" class="disabled">Export</button></li>
			<li><a href="https://lospec.com/pixel-editor">Exit</a></li>
		</ul>
	</li>
	<li>
		<button>Edit</button>
		<ul>
			<li><button id="resize-canvas-button" onclick = "currFile.openResizeCanvasWindow()">Resize canvas</button></li>
			<li><button id="resize-sprite-button" onclick = "currFile.openResizeSpriteWindow()">Scale sprite</button></li>
			<li><button onclick = "currFile.trimCanvas()">Trim canvas</button></li>
			<li><button id="undo-button" class="disabled">Undo</button></li>
			<li><button id="redo-button" class="disabled">Redo</button></li>
		</ul>
	</li>
	<li>
		<button>View</button>
		<ul>
			<li><button id="toggle-pixelgrid-button" onclick="currFile.pixelGrid.togglePixelGrid()">Show pixel grid</button></li>
			<li><button id="toggle-h-symmetry-button" onclick="currFile.hSymmetricLayer.toggleHAxis()">Show Horizontal Axis</button></li>
			<li><button id="toggle-v-symmetry-button" onclick="currFile.vSymmetricLayer.toggleVAxis()">Show Vertical Axis</button></li>
		</ul>
	</li>
	<li>
		<button id = "layer-button">Layer</button>
		<ul>
			<li><button onclick = "LayerList.addLayer()">New layer</button></li>
			<li><button onclick = "LayerList.duplicateLayer()">Duplicate</button></li>
			<li><button onclick = "LayerList.renameLayer()">Rename</button></li>
			<li><button onclick = "LayerList.deleteLayer()">Delete</button></li>
			<li><button onclick = "LayerList.merge()">Merge below</button></li>
			<li><button onclick = "LayerList.flatten(false)">Flatten all</button></li>
			<li><button onclick = "LayerList.flatten(true)">Flatten visible</button></li>
			
		</ul>
	</li>
	<li>
		<button>Selection</button>
		<ul>
			<li><button id="copy-button">Copy</button></li>
			<li><button id="cut-button">Cut</button></li>
			<li><button id="paste-button">Paste</button></li>
			<li><button id="cancelSelection-button">Cancel</button></li>
		</ul>
	</li>
	<li>
		<button>Editor</button>
		<ul>
			<li><button id="switch-mode-button">Switch to basic mode</button></li>
			<li><button onclick="Dialogue.showDialogue('splash', false)">Splash page</button></li>
			<li><button>Settings</button></li>
		</ul>
	</li>

	<li>
		<button>Help</button>
		<ul>
			<li><button>Help</button></li>
			<li><button>About</button></li>
			<li><button>Changelog</button></li>
		</ul>
	</li>

	<li id="editor-info">
		<ul>
			<li><label>Tool size: <input type="number"/></label></li>
			<li>{{> checkbox}}</li>
		</ul>
	</li>
</ul>