<h1>{{title}}</h1>

<p>
The Lospec Pixel editor is a free pixel art program that you can use right here 
in your web browser. Our goal was to create an easy to use, intuitive and 
unobtrusive pixel art application that you can use anywhere. Whether you're 
creating assets for a game or just want to make 8 bit art, this tool is an easy 
way to pixel fast.
</p>

<img class="pixel-editor-screenshot" src="/pixel-editor/pixel-editor-screenshot.png" alt="Lospec Pixel Editor Screenshot" />

<p>
This application does not have all the features of more advanced desktop editor, 
but we will add more over time. It currently features a pencil, eraser, fill, pan, eyedropper 
and zoom tool. You can also easily adjust any colors in your palette. You can 
use any palette in our <a href="/palette-list">Palette List</a> by clicking the pencil next to the palette 
title. 
</p>

<p>
This app currently only works on desktops, and requires a modern browser such as 
the latest versions of <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/">Firefox or Chrome</a>.
</p>

<a class="link-button" href="/pixel-editor/app">Enter app now&nbsp;&nbsp;{{svg "angle-right.svg" width="32" height="32"}}</a>



