<div class="preload">
	<img src="dropdown-arrow.png" />
	<img src="dropdown-arrow-hover.png" />
	<img src="eyedropper.png" />
	<img src="fill.png" />
	<img src="pan.png" />
	<img src="pan-held.png" />
	<img src="pencil.png" />
	<img src="zoom-in.png" />
	<img src = "eraser.png"/>
	<img src = "rectselect.png"/>
	<!-- TODO: [ELLIPSE] Where is this icon used? Do we need similar one for ellipsis? -->
	<img src= "rectangle.png">
</div>