Hello there, welcome to the latest version of the Lospec Pixel Editor. As you can see, we changed
quite a lot of things. Let's go through all them, starting from this page.

<h2>Splash page</h2>

The editor now has a splash page! Besides a fancy cover image with beautiful art, on the bottom
left of the page you'll be able to create a new custom pixel. You can also use the quickstart
menu to quickly select a preset or load an existing file. It was designed by <a href="https://twitter.com/skeddles">Skeddles</a> himself!

<img src="splash.gif"/>

<strong>Pro tip: </strong> once you've created a new project, you can go back to the splash page
by clicking on <strong>Editor -> Splash page</strong>

<h2>Canvas resizing</h2>

We implemented canvas resizing! If you wanted to draw a t-rex but created a 4x4 canvas, we've got you covered!
You can now click on <strong>Edit -> Resize canvas</strong> to decrease the size of the project. Same goes if you
drew an ant on a 1024x1024 canvas, just go to <strong>Edit -> Resize canvas</strong> and decrease
the dimensions.

<img src="resize-canvas.gif"/>

<h2>Sprite scaling</h2>

In addition to the <a href="https://www.lospec.com/pixel-art-scaler">Lospec Pixel Art Scaler</a>,
you can now take advantage of the editor's built-in scaling function. Just click on <strong>Edit -> Scale sprite</strong>
to scale up or down your work. With the nearest-neighbour algorithm you'll be able to scale sprites
in a pixel-perfect manner, while with bilinear interpolation it's possible to add (or remove, if you're scaling
down a sprite) antialiasing.

<img src="scale-sprite.gif"/>

<h2>Line tool</h2>

Our contributor <a href="https://github.com/liamortiz">Liam</a> added a new line tool! Quality of
life improvement are planned for it, the rectangle and the rectangular selection tools.

<img src="line-tool.gif"/>

<h2>Advanced mode: colour picker and palette block</h2>

If you're a proud user of the advanced mode, you'll be able to try out the new colour picker: it
supports 3 colour models, 6 colour harmonies and multiple ways to input data. Next to it,
you'll find the new palette block, which lets you arrange your colours however you want, add and 
remove multiple colours at once. Changes made in the palette block will update the palette list
you've always been familiar with.

<img src="palette-block.gif"/>

<h2>Other changes:</h2>
<ul>
    <li>You can now move colours in the palette menu</li>
    <li>Use <strong>View -> Pixel grid</strong> to show the pixel grid</li>
    <li>Fixed a bunch of bugs, made the brush preview pixel perfect</li>
    <li>Added <strong>Layer -> Duplicate</strong> to duplicate a layer</li>
    <li>Quality of life development improvements by <a href="https://github.com/nkoder">Nkoder</a> and <a href="https://github.com/JulianWebb">Pongles</a></a></li>
    <li>Canvas trimming to get rid of all the extra space you have in your sprite</li>
</ul>

<h2>That's all folks!</h2>
That's all for this update! Hope you have fun with this new release :) </br>
- <a href="https://github.com/unsettledgames">Unsettled</a>
</br></br>
P.S.: we're always looking for contributors! Join the <a href="https://discord.com/invite/QjsgTQM">Lospec discord</a> to get in touch!